.Ajouter{
    width: 80%;
    background-color: #d3e0ea;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    text-align: left;
}

.submit {
    text-align: right;
}

.submit input{
    padding: 10px 15px;
    border: 0;
    background-color: #fb743e;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    }

.submit input:disabled {
    opacity: .3;
    cursor: not-allowed;
}    

.submit input input:focus,
.submit input input:hover {
    background-color: #fb743e;
} 