.button {
    border: 0px;
    padding: 10px 15px;
    background-color:#fb743e;
    color: white;
    margin: 5px;
    border-radius: 4px;
}

.button.focus,
.button:hover {
    background-color: #d3450d;
}